:root {
    --bs-body-font-family: 'Manjari', sans-serif;
}

main {
    overflow-y: auto;
}

.option {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.option:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}

.option.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.option.correct {
    background-color: var(--bs-success-bg-subtle) !important;
    border-color: var(--bs-success-border-subtle) !important;
}

.option.wrong {
    background-color: var(--bs-danger-bg-subtle) !important;
    border-color: var(--bs-danger-border-subtle) !important;
}

/* Ensure chart is responsive */
#history-chart {
    max-height: 400px;
}

